@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <p class="lead">What if I told you that you could control LED lights on an Arduino with your emotions?</p>
    
    <table class="table">
        <thead>
            <th>Emotion</th>
            <th>Color</th>
        </thead>
        <tbody>
            <tr>
                <td>Happy</td>
                <td>Green</td>
            </tr>
            <tr>
                <td>Sad</td>
                <td>Yellow</td>
            </tr>
            <tr>
                <td>Angry</td>
                <td>Red</td>
            </tr>
        </tbody>
    </table>
    <video id="video" width="500" height="500" autoplay muted></video>
</div>